<!doctype html>
<html>
  <head>
    <link href="assets/styles.css" rel="stylesheet" type="text/css">
    <title>
      {{# block "title"}}{{/block}}
    </title>
  </head>
  <body>
    <header>
      <h3>
        Rumra 13
        sdfas
        asfd1221
      </h3>
    </header>
    <nav>
      <ul class="list--inline">
        <li>
          <a href="/articles.html">Статьи</a>
        </li>
        <li>
          <a href="/blog.html">Блог</a>
        </li>
        <li>
          <a href="/about.html">О сайте</a>
        </li>
      </ul>
    </nav>
    <section>
      {{# block "mainContainer"}}{{/block}}
    </section>
    <section></section>

    <script src="http://localhost:35729/livereload.js"></script>
  </body>
</html>
