<!doctype html>
<html>
  <head>
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <title>
      {{# block "title"}}{{title}}{{/block}}
    </title>
  </head>
  <body>
    <header class="top-navigation">
      <div class="logo">
        <h3>
          Румра
        </h3>
        <p>
          "Кто я?" "Откуда я пришел?" "Куда я иду?"
        </p>
      </div>
      <nav class="navigation">
        <ul class="menu">
          <li class="menu-item {{#if (eq title 'Rumra')}}menu-item-active{{/if}}" >
            <a href="/">Блог</a>
          </li>
          <li class="menu-item {{#if (eq title 'Articles')}}menu-item-active{{/if}}" >
            <a href="/articles/">Статьи</a>
          </li>
          <li class="menu-item {{#if (eq title 'Tags')}}menu-item-active{{/if}}" >
            <a href="/tags/">Темы</a>
          </li>
          <li class="menu-item {{#if (eq title 'About')}}menu-item-active{{/if}}" >
            <a href="/about">О сайте</a>
          </li>
          <li class="menu-item {{#if (eq title 'Attention')}}menu-item-active{{/if}}" >
            <a href="/attention">Соберись!</a>
          </li>
        </ul>
      </nav>
    </header>
    <section>
      {{# block "mainContainer"}}{{/block}}
    </section>
    <section></section>

    {{#unless isProductionBuild }}
      <script src="http://localhost:35729/livereload.js"></script>
    {{/unless}}

  </body>
</html>
