{{# extend "base"}}

  {{# content "mainContainer" }}

    {{#each collections.articles}}
      <p>{{ title }}</p>
      <p>
        <div>{{{ excerpt  }}}</div>
        <div>
          <span>PAth: "{{ path }}"</span>
          <a href="/{{ path }}">Read more...</a>
        </div>
      </p>
    {{/each}}

  {{/content}}

{{/extend}}
