{{# extend "base"}}

  {{# content "mainContainer" }}

    {{#each collections.posts}}
      <section>
        <div>{{ title }}</div>
        <div>{{{ contents }}}</div>
        <div>
          <a href="/{{ path }}">Read more...</a>
        </div>
      </section>
    {{/each}}

  {{/content}}

{{/extend}}
