{{# extend "base"}}

  {{# content "mainContainer" }}

    <section class="posts">
      {{#each collections.posts}}
        <article class="post-preview">
          <h6>{{ title }}</h6>
          <div>{{{ excerpt }}}</div>
          <div>
            <a href="/{{ path }}">Read more...</a>
          </div>
        </article>
      {{/each}}
    </section>

  {{/content}}

{{/extend}}
