{{# extend "base"}}

  {{# content "mainContainer" }}

    <h2>#{{ tag }}</h2>

    <p>
      {{#each (lookup tags tag)}}
        <p>{{ title }}</p>
        <p>{{ path }}</p>
      {{/each}}
    </p>

  {{/content}}

{{/extend}}
