{{# extend "base"}}

  {{# content "mainContainer" }}

    <p>
      <h4>Ключевые слова:</h4>
      <ul>
        {{#each tags}}
          <li>
            <!-- hardcoded! -->
            <a href="/{{ ../path }}/{{ urlSafe }}/">{{ @key }}</a>
          </li>
        {{/each}}
        </ul>
    </p>

  {{/content}}

{{/extend}}
