.top-navigation {
  @extend .clearfix;
  background-color: rgba(100,100,100,0.3);
  padding: 10px 20px;

  .logo {
    float: left;
  }

  .navigation {
    float: left;
  }
}


.menu {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    display: inline-block;
    padding: 5px 10px;
    float: left;

    &-active {
      background-color: rgba(red, 0.3);
    }
  }
}
